@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: "Poppins" , sans-serif;
}

.layout{
  height: 100vh;
  padding:4%;
  
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: 90vh;
  width:50%;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input[type=text]{
     border:none;
     border-bottom: 1px solid white;
     width:100% ;
     outline: none;
     color: white;
     background-color: black;

}
label{
  font-weight: 600;
    color: white;
}
.backform{
  background-color: black;
  height: 90vh;
  color: white;
  margin: auto;
  width: 50%;
  padding: 5%;
  
 }


 .pay{
   background-color: white;
   color: black;
 }

 @media screen and (max-width: 600px) {
  .backform{
    background-color: black;
    height: 90vh;
    color: white;
    margin: auto;
    width: 100%;
    padding: 5%;
   }
  
}

.danger{
  font-weight: 500;
  color: crimson;
}
