<div class="layout">
    <div>
    <div class="backform table-responsive">
        <div *ngIf="paymode else apply"><app-payment-gateway [appdata]="applicationForm"></app-payment-gateway></div>
   <ng-template #apply> <form [formGroup]="applicationForm">
        <label>Name</label><br>
        <input formControlName="name" type="text"><br><br>
        <label>Roll number</label><br>
        <input  formControlName="rollno" type="text" [attr.disabled]=true><br><br>
        <label>Mail Id</label><br>
        <input formControlName="mail" type="text" [attr.disabled]=true><br><br>
        <label>Program</label><br>
        <input formControlName="coursename" type="text"><br><br>
        <label>Year</label><br>
        <input formControlName="year" type="text"><br><br>
        <label>Semester</label><br>
        <input formControlName="sem" type="text"><br><br>
        <label>Department</label><br>
        <input formControlName="departmentname" type="text"><br><br>
        <label>Aadhar number</label><br>
        <input formControlName="aadharnumber" [attr.disabled]=true type="text"><br><br>
        <label>Section</label><br>
        <input formControlName="section" type="text"><br><br>
        <div  *ngIf="!applyAllMode" >            
                <div  *ngFor="let subs of subjects; index as i">
           <input type="checkbox" (click)="changeSubjects(subs)">&nbsp;&nbsp;
           <label>{{subs.subjectname}} &nbsp; {{subs.subjectcode}}</label>
           </div>
        </div>
        <input type="checkbox"  (click)="changeSelected()">&nbsp;&nbsp;
        <label>Apply all</label><br><br>
        <label>Amount</label>&nbsp;&nbsp;
         {{amount}}<br>
        <br><div class="danger" *ngIf="errorMsg!=''">⚠ {{errorMsg}}<br><br></div>
        <button class="btn btn-light"
         (click)="payamount()">Apply
       </button><br><br>
        <button class="btn btn-danger" routerLink="/student">Close</button>
    </form></ng-template>
</div>
</div>
</div>
